#stars {
  max-width:36px;
  max-height:36px;
  display: inline-block;
}

#mainReview {
  display: inline-block;
}

#avatar {
  width: 48px !important;
  height: 48px !important;
  position: absolute !important;
  /* top: 0px !important; */
  left: 0px !important;
  border-radius: 24px !important;
  box-sizing: border-box;
}

#name {
  posiiton: absolute;
  left: 150px;
  font-weight: 600 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: normal !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  display: inline !important;
  box-sizing: border-box;
}

#date {
  left: 250px;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  font-weight: normal !important;
}

#review {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: normal !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  font-weight: normal !important;
  display: inline !important;
  box-sizing: border-box;
}

#moreButton {
  box-sizing: border-box;
  color: #008489 !important;
  font: inherit !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  cursor: pointer !important;
  user-select: auto !important;
  text-align: left !important;
}

.currentBtn {
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px !important;
  line-height: 32px !important;
  text-align: center !important;
  background-color: #008489 !important;
  color: #ffffff !important;
  display: inline-block;
}

.changePageBtn {
  height: 1em;
  width: 1em;
  display: block;
  fill: currentcolor;
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent !important;
  border-color: #008489 !important;
  color: #008489 !important;
  border: 1px solid !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px !important;
  position: relative !important;
  display: inline-block;
}

.omit {
  display: inline-block;
}

.reportBtn {
  background: url('./reportBtn.png');
  /* cursor: pointer; */
  /* border: none; */
  display: inline-block;
}

.reviewName {
  display: inline-block;
}



/* report pop up window */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}